{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <span class="lead">Visualisierung</span>
    {% if chart is defined %}
        <div>{{ current }}</div>

        <div id="myChart"></div>
        {% else %}
        <div>Bitte einen Import zur Visualisierung wählen</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if chart is defined %}
        {{ chart|raw }}
    {% endif %}
{% endblock %}

{% block form %}

    <span class="lead">Daten</span>
    <hr class="mt-1"/>
    <div class="p-2 bg-light small">
        <table class="table table-striped table-bordered make-dt">
            <thead>

            <tr>
                <th rowspan="2">Produkt</th>
                <th rowspan="2">Konfiguration</th>

                <th colspan="4">Spannung</th>
                <th colspan="3">Funkenintensität</th>

                <th>Stromstärke</th>
                <th>Temperatur</th>

                <th rowspan="2">Datensätze</th>
            </tr>
            <tr>
                <th class="small">Obere Grenze</th>
                <th class="small">Hysterese</th>
                <th class="small">Startwert</th>
                <th class="small">Schrittweite Änderung</th>

                <th class="small">Grenze</th>
                <th class="small">Hysterese</th>
                <th class="small">Schwellwert</th>

                <th class="small">Untere Grenze</th>

                <th class="small">Maximum</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                {% for config in article.configList %}
                    <tr>
                        <td>{{ article.name }}</td>
                        <td>{{ config.overlayText }}</td>

                        <td>{{ config.voltageLimit }}</td>
                        <td>{{ config.voltageHysteresis }}</td>
                        <td>{{ config.voltageStart }}</td>
                        <td>{{ config.voltageStep }}</td>

                        <td>{{ config.intensityLimit }}</td>
                        <td>{{ config.intensityHysteresis }}</td>
                        <td>{{ config.intensityThreshold }}</td>

                        <td>{{ config.currentLimit }}</td>

                        <td>{{ config.temperatureMaximum }}</td>

                        <td class="text-center">

                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Importiert am</th>
                                        <th>Daten Von</th>
                                        <th>Daten Bis</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for process in processes %}
                                        {% if( process.article == article.id and process.config == config.id ) %}
                                    <tr>
                                        <td>
                                            {{ process.import|date('d.m.Y') }}<br/>{{ process.import|date('H:i:s') }}
{#                                            <div class="small text-muted">ID: {{ process.process }}</div>#}
                                        </td>
                                        <td>
                                            {{ process.min|date('d.m.Y') }}<br/>{{ process.min|date('H:i:s') }}
                                        </td>
                                        <td>
                                            {{ process.max|date('d.m.Y') }}<br/>{{ process.max|date('H:i:s') }}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                            <a href="{{ path('graph.chart', {'id': process.process}) }}"
                                               class="btn btn-sm btn-success">Visualisieren</a>
                                            <a href="{{ path('graph.delete', {'id': process.process, '_token': csrf_token('delete'~process.process) } ) }}"
                                               class="btn btn-sm btn-danger"
                                               onclick="return confirm('Wirklich löschen?')"
                                            >
                                                <span class="fa fa-trash-alt"></span>
                                            </a>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

