{% extends 'base.html.twig' %}

{% block form %}
    <span class="lead">Daten importieren</span>
    <hr class="mt-1"/>
    <div class="p-2 bg-light">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.attachment, {'label':'CSV Datei'}) }}
            </div>
        </div>
        <hr class="mt-0"/>
        <button type="submit" class="btn btn-sm btn-primary">Daten importieren</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#{{ form.attachment.vars.id }}').on('change',function(){
            var fileName = document.getElementById('{{ form.attachment.vars.id }}').files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}

{% block body %}

    <span class="lead">Gewählte Konfiguration</span>
    <hr class="mt-1"/>
    <div class="p-2 bg-light">
        <table class="table">
            <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Produkt</th>

                <th colspan="4">Spannung</th>
                <th colspan="3">Funkenintensität</th>

                <th>Stromstärke</th>
                <th>Temperatur</th>
            </tr>
            <tr>
                <th>Obere Grenze</th>
                <th>Hysterese</th>
                <th>Startwert</th>
                <th>Schrittweite Änderung</th>

                <th>Grenze</th>
                <th>Hysterese</th>
                <th>Schwellwert</th>

                <th>Untere Grenze</th>

                <th>Maximum</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ config.overlayText }}</td>
                    <td>{{ config.article.name }}</td>

                    <td>{{ config.voltageLimit }}</td>
                    <td>{{ config.voltageHysteresis }}</td>
                    <td>{{ config.voltageStart }}</td>
                    <td>{{ config.voltageStep }}</td>

                    <td>{{ config.intensityLimit }}</td>
                    <td>{{ config.intensityHysteresis }}</td>
                    <td>{{ config.intensityThreshold }}</td>

                    <td>{{ config.currentLimit }}</td>

                    <td>{{ config.temperatureMaximum }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('data.index') }}" class="btn btn-sm btn-primary"> Andere Konfiguration wählen</a>

    </div>

{% endblock %}
