{% extends 'base.html.twig' %}

{% block form %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <span class="lead">Konfiguration wählen</span>
    <hr class="mt-1"/>
    <div class="p-2">
        <table class="table make-dt">
            <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Produkt</th>

                <th colspan="4">Voltage</th>
                <th colspan="3">Intensity</th>

                <th>Current</th>
                <th>Temperature</th>

                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>Limit</th>
                <th>Hysteresis</th>
                <th>Start</th>
                <th>Step</th>

                <th>Limit</th>
                <th>Hysteresis</th>
                <th>Threshold</th>

                <th>Limit</th>

                <th>Maximum</th>
            </tr>
            </thead>
            <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.overlayText }}</td>
                    <td>{{ config.article.name }}</td>

                    <td>{{ config.voltageLimit }}</td>
                    <td>{{ config.voltageHysteresis }}</td>
                    <td>{{ config.voltageStart }}</td>
                    <td>{{ config.voltageStep }}</td>

                    <td>{{ config.intensityLimit }}</td>
                    <td>{{ config.intensityHysteresis }}</td>
                    <td>{{ config.intensityThreshold }}</td>

                    <td>{{ config.currentLimit }}</td>

                    <td>{{ config.temperatureMaximum }}</td>

                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('data.select', {'id': config.id}) }}" class="btn btn-sm btn-success"><span class="fa fa-search"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
