{% extends 'base.html.twig' %}

{% block form %}
    <span class="lead">Neue Konfiguration</span>
    <hr class="mt-1"/>
    <div class="p-2">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.overlayText, {'label':'Name'}) }}
                {{ form_row(form.article) }}
            </div>
        </div>
        <hr class="mt-0"/>
        <div class="form-row">
            <div class="col">
                {{ form_row(form.voltageLimit) }}
                {{ form_row(form.voltageHysteresis) }}
                {{ form_row(form.voltageStart) }}
                {{ form_row(form.voltageStep) }}
            </div>
            <div class="col">
                {{ form_row(form.intensityLimit) }}
                {{ form_row(form.intensityHysteresis) }}
                {{ form_row(form.intensityThreshold) }}
            </div>
            <div class="col">
                {{ form_row(form.currentLimit) }}
                {{ form_row(form.temperatureMaximum) }}
            </div>
        </div>
        <hr class="mt-0"/>
        <button type="submit" class="btn btn-primary">Konfiguration anlegen</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block body %}
    <span class="lead">Konfigurationen</span>
    <hr class="mt-1"/>
    <div class="p-2">
        <table class="table make-dt">
            <thead>
            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">Produkt</th>

                <th colspan="4">Voltage</th>
                <th colspan="3">Intensity</th>

                <th>Current</th>
                <th>Temperature</th>

                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>Limit</th>
                <th>Hysteresis</th>
                <th>Start</th>
                <th>Step</th>

                <th>Limit</th>
                <th>Hysteresis</th>
                <th>Threshold</th>

                <th>Limit</th>

                <th>Maximum</th>
            </tr>
            </thead>
            <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.id }}</td>
                    <td>{{ config.overlayText }}</td>
                    <td>{{ config.article.name }}</td>

                    <td>{{ config.voltageLimit }}</td>
                    <td>{{ config.voltageHysteresis }}</td>
                    <td>{{ config.voltageStart }}</td>
                    <td>{{ config.voltageStep }}</td>

                    <td>{{ config.intensityLimit }}</td>
                    <td>{{ config.intensityHysteresis }}</td>
                    <td>{{ config.intensityThreshold }}</td>

                    <td>{{ config.currentLimit }}</td>

                    <td>{{ config.temperatureMaximum }}</td>

                    <td class="text-right">
                        <a href="{{ path('config.edit', {'id': config.id}) }}" class="btn btn-sm btn-primary"><span class="fa fa-pen-alt"></span> Ändern</a>
                        <a href="{{ path('config.delete', {'id': config.id, '_token': csrf_token('delete'~config.id) } ) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> Löschen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
