{% extends 'base.html.twig' %}

{% block form %}
    <span class="lead">Neue Konfiguration</span>
    <hr class="mt-1"/>
    <div class="p-2 bg-light">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.overlayText, {'label':'Name der Konfiguration'}) }}
                {{ form_row(form.article, {'label':'Produkt wählen'}) }}
            </div>
        </div>
        <hr class="mt-0"/>
        <div class="form-row">
            <div class="col">
                {{ form_row(form.voltageLimit, {'label':'Obere Grenze für Spannung'}) }}
                {{ form_row(form.voltageHysteresis, {'label':'Hysterese für Spannung'}) }}
                {{ form_row(form.voltageStart, {'label':'Startwert Spannung'}) }}
                {{ form_row(form.voltageStep, {'label':'Schrittweite für Spannungsänderung'}) }}
            </div>
            <div class="col">
                {{ form_row(form.intensityLimit, {'label':'Limit für Funkenintensität (%)'}) }}
                {{ form_row(form.intensityHysteresis, {'label':'Hysterese für Funkenintensität (%)'}) }}
                {{ form_row(form.intensityThreshold, {'label':'Schwellwert für Funkenintensität (%)'}) }}
            </div>
            <div class="col">
                {{ form_row(form.currentLimit, {'label':'Untere Grenze für Stromstärke'}) }}
                {{ form_row(form.temperatureMaximum, {'label':'Maximale Temperatur des Elektrolyts (°C)'}) }}
            </div>
        </div>
        <hr class="mt-0"/>
        <button type="submit" class="btn btn-sm btn-primary">Konfiguration anlegen</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block body %}
    <span class="lead">Konfigurationen</span>
    <hr class="mt-1"/>
    <div class="p-2 bg-light">
        <table class="table table-striped table-bordered make-dt">
            <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Produkt</th>

                <th colspan="4">Spannung</th>
                <th colspan="3">Funkenintensität</th>

                <th>Stromstärke</th>
                <th>Temperatur</th>

                <th rowspan="2" style="width: 1%;">Angelegt</th>
                <th rowspan="2" style="width: 1%;">Optionen</th>
            </tr>
            <tr>
                <th class="small">Obere Grenze</th>
                <th class="small">Hysterese</th>
                <th class="small">Startwert</th>
                <th class="small">Schrittweite Änderung</th>

                <th class="small">Grenze</th>
                <th class="small">Hysterese</th>
                <th class="small">Schwellwert</th>

                <th class="small">Untere Grenze</th>

                <th class="small">Maximum</th>
            </tr>
            </thead>
            <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.overlayText }}</td>
                    <td>{% if( config.article is not empty ) %}{{ config.article.name }}{% else %}<span class="alert alert-danger">Kein Produkt zugeordnet</span>{% endif %}</td>

                    <td>{{ config.voltageLimit }}</td>
                    <td>{{ config.voltageHysteresis }}</td>
                    <td>{{ config.voltageStart }}</td>
                    <td>{{ config.voltageStep }}</td>

                    <td>{{ config.intensityLimit }}</td>
                    <td>{{ config.intensityHysteresis }}</td>
                    <td>{{ config.intensityThreshold }}</td>

                    <td>{{ config.currentLimit }}</td>

                    <td>{{ config.temperatureMaximum }}</td>
                    <td>{{ config.entityCreate|date('d.m.Y H:i:s') }}</td>

                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('config.edit', {'id': config.id}) }}" class="btn btn-sm btn-primary"><span
                                    class="fa fa-pencil-alt"></span> Bearbeiten</a>
                            <a href="{{ path('config.delete', {'id': config.id, '_token': csrf_token('delete'~config.id) } ) }}"
                               class="btn btn-sm btn-danger"
                               onclick="return confirm('Wirklich löschen?')"
                            >
                                <span class="fa fa-trash-alt"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
