<!doctype html>
<html lang="en" class="h-100 w-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PCR Project</title>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/cover.css') }}">
    {% endblock %}

</head>

<body class="d-flex flex-column h-100 w-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="/" style="font-size: inherit;">
            {% block title %}
                P<span class="small text-muted">lasmo</span>
                C<span class="small text-muted">eran</span>
                R<span class="small text-muted">esearch</span>
            {% endblock %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.request.get('_route') starts with 'article' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('article.index') }}">Produkt</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') starts with 'config' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('config.index') }}">Konfiguration</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') starts with 'data' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('data.index') }}">Import</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') starts with 'graph' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('graph.index') }}">Visualisierung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted" href="{{ path('api_doc', {'_format': 'html'}) }}">Api</a>
                </li>
            </ul>
            <div class="nav-item">
                <a class="nav-link text-muted" href="{{ path('graph.index') }}">ZC</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-muted" href="{{ path('graph.index') }}">BS4</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-muted" href="{{ path('graph.index') }}">SF</a>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container-fluid py-3">
        {% block form %}
            >>FORM<<
        {% endblock %}
    </div>

    <div class="container-fluid">
        {% block body %}
            >>BODY<<
        {% endblock %}
    </div>


    {#{{ dump() }}#}

</main>

{#<footer class="footer mt-auto py-3">#}
    {#<div class="container">#}
        {#<a class="nav-link zc-ref" target="_blank" href="https://www.zingchart.com/">Charts by ZingChart</a>#}
    {#</div>#}
{#</footer>#}


<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/zingchart.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
<script>
    $('.make-dt').DataTable({
        "language": {
            "sEmptyTable": "Keine Daten in der Tabelle vorhanden",
            "sInfo": "_START_ bis _END_ von _TOTAL_ Einträgen",
            "sInfoEmpty": "Keine Daten vorhanden",
            "sInfoFiltered": "(gefiltert von _MAX_ Einträgen)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ Einträge anzeigen",
            "sLoadingRecords": "Wird geladen ..",
            "sProcessing": "Bitte warten ..",
            "sSearch": "Suchen",
            "sZeroRecords": "Keine Einträge vorhanden",
            "oPaginate": {
                "sFirst": "Erste",
                "sPrevious": "Zurück",
                "sNext": "Nächste",
                "sLast": "Letzte"
            },
            "oAria": {
                "sSortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                "sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
            },
            "select": {
                "rows": {
                    "_": "%d Zeilen ausgewählt",
                    "0": "",
                    "1": "1 Zeile ausgewählt"
                }
            },
            "buttons": {
                "print": "Drucken",
                "colvis": "Spalten",
                "copy": "Kopieren",
                "copyTitle": "In Zwischenablage kopieren",
                "copyKeys": "Taste <i>ctrl</i> oder <i>\u2318</i> + <i>C</i> um Tabelle<br>in Zwischenspeicher zu kopieren.<br><br>Um abzubrechen die Nachricht anklicken oder Escape drücken.",
                "copySuccess": {
                    "_": "%d Spalten kopiert",
                    "1": "1 Spalte kopiert"
                }
            }
        }
    });
</script>
{% block javascripts %}{% endblock %}

</body>
</html>
