{% extends 'base.html.twig' %}

{% block form %}
    <span class="lead">Neues Produkt</span>
    <hr class="mt-1"/>
    <div class="p-2">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <hr class="mt-0"/>
        <button type="submit" class="btn btn-sm btn-primary">Produkt anlegen</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body %}
    <span class="lead">Produkte</span>
    <hr class="mt-1"/>
    <div class="p-2">
    <table class="table make-dt">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{{ path('article.edit', {'id': article.id}) }}" class="btn btn-sm btn-primary"><span class="fa fa-pencil-alt"></span></a>
                        <a href="{{ path('article.delete', {'id': article.id, '_token': csrf_token('delete'~article.id) } ) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash-alt"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
